.loop {
    padding-top: 90px;
    background: linear-gradient(180deg, #18130c 0%, #62574a 100%);
    position: relative;
    overflow: hidden;
}

.loop__bg {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 2;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.loop__title {
    font-family: "Berling";
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
}

.loop__title span {
    font-family: "Berling";
    font-size: 40px;

    line-height: 48px;
    text-align: center;
    color: #ffffff;
    color: #ffc274;
}

.loop__step {
    position: relative;
    width: 100%;
}

.loop__steps {
    display: flex;
    justify-content: space-between;
}

.loop__step_circle {
    width: 40px;
    height: 40px;
    border: 4px solid #463e35;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.loop__inner_circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffc274;
    display: none;
}

.loop__step_text {
    width: 50px;
    font-family: "Mont-Bold";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #61584b;
    position: relative;
    z-index: 4;
}

.loop__step:last-child {
    width: auto;
}

.loop__step_text__orange {
    color: #ffc274;
}

.loop__step_circle__orange {
    border: 4px solid #ffc274;
}

.loop__inner_circle__active {
    display: block;
}

.loop__dots {
    border-bottom: 2px dotted #665f53;
    width: calc(100% - 40px);
    position: absolute;
    top: 52px;
    left: 40px;
}

.loop__dots__orange {
    border-bottom: 2px dotted #ffc274;
}

.loop__subtitle {
    margin-top: 105px;
    font-family: "Berling";
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
}

.loop__list {
    margin-left: 16px;
    margin-top: 25px;
    padding-bottom: 124px;
}

.loop__list_item {
    font-family: "Mont-Regular";
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 4px;
    list-style: circle;
}

.loop__rh_img {
    position: absolute;
    left: 50%;
    bottom: 0;
}

.loop__lh_img {
    position: absolute;
    left: 55%;
    bottom: 0;
}

@media (max-width: 1200px) {
    .loop__steps {
        padding: 0 20px;
    }

    .loop__subtitle {
        margin-left: 40px;
    }

    .loop__list {
        margin-left: 60px;
    }
}

@media (max-width: 900px) {
    .loop__rh_img {
        display: none;
    }

    .loop__lh_img {
        display: none;
    }

    .loop__list {
        padding-bottom: 70px;
    }

    .loop__subtitle {
        text-align: center;
    }

    .loop__list {
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .loop__subtitle {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 80px;
    }

    .loop__list li {
        list-style: none;
    }
}

@media (max-width: 750px) {
    .loop__title {
        font-size: 26px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .loop__title span {
        font-size: 26px;
    }
}

@media (max-width: 500px) {
    .order__title {
        font-size: 32px;
    }

    .loop__subtitle {
        font-size: 22px;
    }

    .loop__title {
        font-size: 22px;
    }

    .loop__title br {
        display: none;
    }

    .loop__title span {
        font-size: 22px;
    }
}
