.header__tab {
    font-family: "Mont-Semi";
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
}

.header__tab__active {
    background: #ffc274;
    color: #1f1a17;
    font-family: "Mont-Bold";
}

.header__tab:hover {
    background: #ffc274;
    color: #1f1a17;
    font-family: "Mont-Bold";
}

.header__tab:last-child {
    border-right: none;
    padding-right: 0px;
}

.header__tab::after {
    content: url("/images/tabs-arrow.png");
    margin-left: 9px;
}

.header__tab__active::after {
    content: url("/images/arrow-right-black.png");
    position: relative;
    top: 1.5px;
}

.header__tab__active::before {
    content: "";
    width: 48px;
    height: 13px;
    background-color: #ffc274;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    position: absolute;
    top: 65px;
    z-index: 10;
}

.header__tab_menu {
    text-transform: none;
    cursor: auto;
    position: absolute;
    z-index: 5;
    max-width: 1160px;
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 12px;
    top: 65px;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 40px 72px rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(24px);
    border-radius: 8px;
    display: none;
}

.header__tab_menu__active {
    display: block;
}

.header__menu_inner {
    display: flex;
    justify-content: space-between;
}

.header__menu_title {
    font-family: "Mont-Bold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.header__menu_text {
    font-family: "Mont-Regular";
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 8px;
}

.header__menu_custom {
    display: inline-block;
    font-family: "Mont-Semi";
    font-size: 18px;
    margin-top: 50px;
    line-height: 24px;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #fff;
    color: #ffffff;
    position: relative;
}
