.order {
    padding-top: 223px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 852px;
    position: relative;
    background-color: linear-gradient(
        180deg,
        rgba(255, 255, 255, 20%) 10%,
        #ffffff 1%
    );
    background-color: #f3ede6;
}

.order__container {
    position: relative;
    height: 100%;
}

.order__title {
    font-family: "Berling";
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
    color: #1f1a17;
}

.order__text {
    font-family: "Mont-Semi";
    font-size: 16px;
    line-height: 24px;
    color: #1f1a17;
}

.order__text span {
    font-family: "Mont-Bold";
    font-size: 16px;
    line-height: 24px;
    color: #1f1a17;
}

.order__decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.order__decor_pen {
    position: absolute;
    left: -240px;
    top: -220px;
}

.order__decor_laptop {
    position: absolute;
    left: 280px;
    bottom: 60px;
}

.order__form {
    position: absolute;
    top: -105px;
    left: 750px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 67px;
    background: #ffffff;
    box-shadow: 0px 32px 56px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding-right: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 430px;
}

.order__form_title {
    font-family: "Berling";
    font-size: 24px;
    line-height: 32px;
    color: #1f1a17;
    text-align: center;
}

.order__form_title span {
    font-family: "Berling";
    font-size: 24px;
    line-height: 32px;
    color: #847266;
}

.order__form_text {
    font-family: "Mont-Semi";
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #98928b;
    margin-top: 20px;
    margin-bottom: 32px;
}

.order__form input {
    width: 297px;
    height: 80px;
    background: #f4f5f7;
    border-radius: 8px;
    border: none;
    padding-left: 25px;
    font-family: "Mont-Regular";
    font-size: 14px;
    line-height: 24px;
    color: #8f8f8f;
    margin-bottom: 10px;
}

.order__form_btn {
    background: linear-gradient(95.43deg, #ffb56c 3.35%, #eb7a2e 98.48%);
    box-shadow: inset 0px -5px 7px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    height: 90px;
    font-family: "Mont-Bold";
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #25211d;
    border-bottom: 4px solid #e49259;
}

@media (max-width: 1250px) {
    .order {
        padding: 0 20px;
        padding-top: 223px;
    }

    .order__form {
        left: auto;
        right: 0px;
    }
}

@media (max-width: 1000px) {
    .order {
        padding-top: 70px;
    }

    .order {
        padding-bottom: 100px;
    }

    .order__title {
        text-align: center;
    }

    .order__text {
        text-align: center;
    }

    .order__form {
        position: static;
        margin: 0 auto;
        margin-top: 40px;
    }

    .order {
        height: auto;
    }

    .order__decor_laptop {
        display: none;
    }
}

@media (max-width: 500px) {
    .order__title {
        font-size: 32px;
    }

    .order__text {
        font-size: 14px;
    }

    .order__form {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 37px;
        padding-right: 37px;
    }

    .order__form input {
        width: 100%;
    }

    .order__form_btn {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .order__title {
        font-size: 24px;
    }

    .order__form_btn {
        font-size: 14px;
    }

    .order__text {
        font-size: 13px;
    }

    .order__text span {
        font-size: 13px;
    }

    .order__title br {
        display: none;
    }
}

@media (max-width: 430px) {
    .order__form_title {
        font-size: 20px;
    }

    .order__form {
        padding: 25px;
    }

    .order__form_title br {
        display: none;
    }

    .order__form_text {
        font-size: 13px;
    }

    .order__form_text br {
        display: none;
    }

    .order__form_title span {
        font-size: 20px;
    }
}
