.blog__jobs {
    padding-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
.blog__jobs_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 81px;
}

.blog__tabs {
    margin-right: 62px;
}

.blog__tab {
    border: 1px solid #cabfbf;
    box-shadow: inset 0px -5px 7px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-family: "Mont-Regular";
    font-size: 14px;
    line-height: 24px;
    width: 215px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #25211d;
    cursor: pointer;
    margin-bottom: 18px;
}

.blog__tab:last-child {
    margin-bottom: 0;
}

.blog__tab__active {
    background: linear-gradient(95.43deg, #ffb56c 3.35%, #eb7a2e 98.48%);
    box-shadow: inset 0px -5px 7px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 13px;
    line-height: 24px;
    font-family: "Mont-Bold";
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.blog__item {
    max-width: 284px;
    margin-bottom: 55px;
}

.blog__item_title {
    font-family: "Mont-Bold";
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #25211d;
    margin-top: 12px;
}

.blog__item_text {
    font-family: "Mont-Regular";
    font-size: 14px;
    line-height: 24px;
    margin-top: 12px;
    color: #25211d;
}

.blog__item_btn {
    background: linear-gradient(95.43deg, #ffb56c 3.35%, #eb7a2e 98.48%);
    box-shadow: inset 0px -5px 7px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: none;
    width: 165px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.blog__item_btn p {
    font-family: "Mont-Semi";
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #25211d;
    margin-right: 9px;
}

.blog__btn_arrow {
    background: #170f12;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    border: 4px solid #eb7a2e;
    align-items: center;
}

.contacts__blog {
    margin-top: 0;
}

.blog_page__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.blog__item {
    margin: 5px;
    margin-bottom: 25px;
}

@media (max-width: 1200px) {
    .blog_page__items {
        justify-content: space-evenly;
    }

}

@media (max-width: 920px) {
    .blog__tabs {
        display: flex;
        margin-right: 0;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: center;
    }

    .blog__jobs_inner {
        padding-top: 40px;
    }

    .blog__tab {
        text-align: center;
        margin: 5px;
    }

    .blog__jobs_inner {
        flex-direction: column;
    }
}
